//ejemplo de uso de funciones en VM
//Operacion (a*b)/(b-a)


push constant 5
pop temp 1
push constant 10
pop temp 2
push temp 2
push temp 1
sub
pop temp 3 //Esto es b-a
push temp 1
pop temp 4 // a de la multiplicacion
push temp 2
pop temp 5 //b de la multiplicacion
label loop
	push temp 6
	push temp 4
	add
	pop temp 6
	push temp 5
	push constant 1
	sub 
	pop temp 5
	push temp 5
	push constant 0
	eq
	if-goto end
	goto loop

label end

//Empieza division
label loop2
	
	push temp 6
	push temp 3
	sub
	pop temp 6
	push temp 6
	push constant 0
	lt
	if-goto end2
	push temp 7
	push constant 1
	add 
	pop temp 7
	goto loop2

label end2
